<footer class="app-footer text-white text-center py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Location</h4>
        <p class="lead mb-0">
          Alexandria, Egypt <br />
        </p>
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Around the Web</h4>
        <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/ahmedwaelmohamed"
          target="_blank" aria-label="LinkedIn">
          <i class="fab fa-fw fa-linkedin-in"></i>
        </a>
        <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/awael534" target="_blank"
          aria-label="Facebook">
          <i class="fab fa-fw fa-facebook-f"></i>
        </a>
        <a class="btn btn-outline-light btn-social mx-1" href="https://x.com/awael534" target="_blank"
          aria-label="Twitter">
          <i class="fab fa-fw fa-twitter"></i>
        </a>
        <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/AhmedWael534" target="_blank"
          aria-label="Github">
          <i class="fab fa-fw fa-github"></i>
        </a>
        <a class="btn btn-outline-light btn-social mx-1" href="mailto:awael534@gmail.com" aria-label="Gmail">
          <i class="fas fa-fw fa-envelope"></i>
        </a>
      </div>
      <div class="col-lg-4">
        <h4 class="text-uppercase mb-4">About This Portfolio</h4>
        <p class="lead mb-0">
          A personal portfolio built with the <strong>Angular framework</strong>, showcasing my skills,
          projects, and ongoing learning journey.
          This portfolio is continuously updated as I grow and explore new technologies.
        </p>
      </div>
    </div>
  </div>
</footer>
<div class="copyright py-4 text-center text-white">
  <div class="container">
    <small>© 2025 Ahmed Wael Mohamed Elawady</small>
  </div>
</div>