.navbar {
  height: 80px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  background-color: var(--app-primary-dark);
}

:host(.scrolled) .navbar {
  height: 60px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 400;
  background-color: rgba(44, 62, 80, 0.95) !important;
}

.nav-link {
  font-weight: inherit;
  transition: color 0.2s, transform 0.2s;
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.nav-link.active {
  color: #fff !important;
  font-weight: 700 !important;
  border-bottom: 3px solid var(--app-secondary);
}

.nav-link:not(.active):hover {
  color: #fff !important;
  transform: translateY(-2px);
}